KERNEL_ARCH_CFLAGS=-ffreestanding -fno-stack-protector -fno-stack-clash-protection \
-fno-pic -mno-red-zone -mno-80387 -mno-mmx -mcmodel=kernel
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=-static -nostdlib -no-pie -z max-page-size=0x1000 -Wl,--build-id=none
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/tty.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/pfa.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/pager.o \

# $(ARCHDIR)/mem.o \
